<h1>Registration</h1>
<form action="" class="registration">
    <div><label for="">Username: <input type="text" name="username"/></label> <span class="username-error error-message"></span></div>
    <div><label for="">Password: <input type="password" name="password1"/></label> <span class="password1-error error-message"></span></div>
    <div><label for="">Repeat password: <input type="password" name="password2"/></label> <span class="password2-error error-message"></span></div>
    <input type="submit"/>
</form>