<form action="" class="edit-task" data-task-id="<%- task.id %>">
    <input maxlength="255" required="required" type="text" name="name" value="<%- task.get('name') %>" />
    <input type="submit" value="Save"/>
</form>
