<li data-task-id="<%- task.id %>"><input class="change-status" type="checkbox" <% if (task.get('is_done')) { %> checked="checked" <% } %> data-task-id="<%- task.id %>"/> <%- task.get('name') %>
    (<a data-task-id="<%= task.id %>" class="edit-task" href="">edit</a> or
    <a data-task-id="<%= task.id %>" class="delete-task" href="">delete</a>)
</li>
