<h2>Todo list</h2>
<div class="todo-list">
    <ul class="task-list">
    </ul>
</div>

<form action="" class="add-task">
    <label>Name: <input type="text" autofocus="autofocus" required="required" name="name"/></label>
    <input type="submit" value="Add task"/>
</form>

<a href="" class="logout">Logout</a>