django==1.5.1
# this is for python3 support
-e git://github.com/dbtsai/python-mimeparse.git#egg=mimeparse
-e git://github.com/gugu/django-tastypie.git#egg=django-tastypie
gunicorn==0.17.2
psycopg2==2.4.6
dj-database-url==0.2.1

